.App {
  text-align: center;
}
.btn {
  display: block;
  font-size: 15px;
  padding: 10px;
  background-color: #4d5069;
  border: 3px solid #555;
  margin: 5px auto;
  font-weight: 200;
  color: #f9f9f9;
  border-radius: 10px;
}
.btn:hover {
  background-color: #555;
  border: 3px solid #444;
  color: #f9f9f9;
}
