.Burger {
  text-align: center;
  width: 30vw;
  margin: auto;
  height: 40vh;
  margin: 5vh auto;
  overflow: overlay;
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .Burger {
    width: 50vw;
    font-size: 1em;
  }
}
