.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Input_info {
  font-weight: bold;
  padding: 10px 8px 8px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: red;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
  display: block;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid rgb(255, 16, 16);
}
